# Core dependencies from conda-forge
numpy==1.24.4
scipy==1.9.1
matplotlib==3.7.2
pandas==2.0.3
pillow==10.0.0
opencv-python==4.8.0.74
scikit-image==0.20.0
networkx==2.8.4
pywavelets==1.4.1
pyyaml==6.0
h5py==3.9.0
tqdm==4.65.0
trimesh==3.22.3
vtk==9.2.6
requests==2.31.0
seaborn==0.12.2

# Image processing and data handling
imageio==2.31.1
tifffile==2021.7.2
imagecodecs==2021.8.26

# Parallel computing
dask-core==2022.2.1
cloudpickle==2.2.1
cytoolz==0.12.0
toolz==0.12.0
locket==1.0.0
partd==1.2.0
fsspec==2023.4.0

# Utility packages
progressbar==2.5
lazy_loader==0.2
certifi==2023.5.7
charset-normalizer==3.2.0
idna==3.4
urllib3==2.0.3
six==1.16.0
packaging==23.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
tzdata==2023.3
zipp==3.16.0
importlib-resources==6.0.0

# Plotting
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
kiwisolver==1.4.4
